body {
  background: #FFE2D9;
}
/* ----------- Tablets larger than 768px wide ----------- */
@media (min-width: 768px) {
	body {
    background: #97C9BE;
  }
}

/* ----------- Monitors larger than 1200px wide ----------- */
@media (min-width: 1200px) {
  body {
    background: #457D70;
}
